body {
	background-color: rgb(53, 61, 73);

	min-height: 100vh;
	overflow: hidden;

	display: flex;
	justify-content: space-around;
	align-items: center;

	flex-direction: column;
}

div {
    display: none;
    align-items: center;

    border-radius: 5px;
}

h2, h1 {
    padding: 5px;
    color: rgb(98, 105, 115);
}

h2 {
    padding: 5px;
    margin: 5px;
}

div.vertical {
	display: flex;
	flex-direction: column;
}

div.horizontal {
	display: flex;
	flex-direction: row;
}

#weather {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);   
    background-color: #3F4854;
}

#locationbg {
    margin: 5px;
    background-color: #353d49;
}

#sites {
    width: 70%;
    justify-content: space-around;
}

div.siteheader {
    background-color: #353d49;
    width: 100%;
}

div.siteblock {
    min-width: 20%;

    padding: 10px;
    background-color: #3F4854;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

div.sitelabel {
    cursor: pointer;
}

div.sitelabel:hover {
    background-color: #4c5663;
}

div.sitelabel:active {
    background-color: #353d49;
}
